html,
body {
  margin: 0;
  height: 100%;
  background-color: #efefef;
  margin-bottom: 300px;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  font-family: sans-serif;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logos {
  display: flex;
  justify-content: left;
}

.options {
  display: flex;
  justify-content: flex-end;
}

.logo {
  max-height: 40px;
  margin: 5px;
}

.pin-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #efefef;
  padding: 25px;
  width: 50%;
  border-radius: 4px;
}

.main-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  margin-top: 50px;
  background-color: #efefef;
  width: 100%;
}

.gif {
  width: 80%;
  max-height: 500px;
}

.gif-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-top: 50px;
  min-width: 400px;
}
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.text-box {
  max-width: 250px;
  text-align: center;
  margin: 50px;
}

.main-text {
  color: rgb(0, 0, 0);
  font-size: 45px;
  font-family: sans-serif;
}

.no-success-text {
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-family: sans-serif;
}

.text {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: sans-serif;
}

.black-text {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: sans-serif;
}
.green-button {
  margin-top: 5px;
  background-color: #56693d;
  color: white;
  font-size: 1.5rem;
  height: 2.25em;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
}

.red-button {
  margin-top: 5px;
  background-color: #e60023;
  color: white;
  font-size: 1.5rem;
  height: 2.25em;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
}

.white-sub-text {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 0, 0);
  margin-top: 50px;
}
.input-text {
  width: 300px;
  border: 2px solid white;
  border-radius: 4px;
  height: 35px;
}

.input-submit {
  background-color: red;
  color: white;
  border-radius: 4px;
  height: 35px;
  width: 75px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
}

#access_token {
  display: none;
  word-wrap: break-word;
  width: 400px;
}

#hpl_url {
  width: 400px;
  font-size: 1rem;
  height: 2.25em;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
}

footer {
  max-height: 50px;
  background-color: #efefef;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
