<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <!DOCTYPE html>
    <!--<link rel='stylesheet' href='static/css/main.css'>-->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Bonanza Hand Picked List to Pinterest</title>
    {% endif %}

    <script>
      function showAccessToken() {
        var x = document.getElementById("access_token");
        if (x.style.display == "none") {
          x.style.display = "flex";
        } else {
          x.style.display = "none";
        }
      }
    </script>
  </head>

  <header class="nav-bar">
    <div class="logos">
      <a href="{{ url_for('main.index') }}">
        <img class="logo" src="static/media/bonanza_logo_green.png" />
      </a>
      <a href="{{ url_for('main.index') }}">
        <img class="logo" src="static/media/badgeRGB.png" />
      </a>
    </div>
    <div class="options">
      <a href="{{ url_for('main.pin_list') }}" class="navbar-item">
        Pin List
      </a>
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('main.profile') }}" class="navbar-item">
        Profile
      </a>
      <a href="{{ url_for('auth.logout') }}" class="navbar-item">
        Logout
      </a>
      {% endif %}
    </div>
  </header>

  <body>
    {% block content %}{% endblock %}
    <footer>
      <a href="https://github.com/Andrewske/pinterest-bonanza-api"
        ><img class="logo" src="static/media/GitHub-Mark-64px.png"
      /></a>
    </footer>
  </body>
</html>
