<!DOCTYPE html>

<html>
    <head>
            <meta charset="utf-8"><!DOCTYPE html>
        <!--<link rel='stylesheet' href='static/css/main.css'>--> 
            <link rel="stylesheet" type="text/css" href="static/css/main.css">
            {% if title %}
        <title>{{ title }}</title>
            {% else %}
        <title>Bonanza Hand Picked List to Pinterest</title>
            {% endif %}       
    </head>
    
    <header class='nav-bar'>
        <img class ='logo' src='static/media/bonanza_logo_green.png'>
        <img class='logo' src='static/media/badgeRGB.png'>
    </header>

    <body>
    
        {% block content %}{% endblock %}
        
    </body>

    <footer><a href="https://github.com/Andrewske/pinterest-bonanza-api"><img class='logo' src="static/media/GitHub-Mark-64px.png"></a></footer>
</html>