{% extends "base.html" %} {% block content %}

<div class="main-image">
  <h1 class="main-text">Bonanza to Pinterest</h1>
  <p class="white-text">
    Welcome! Want to post a Hand Picked List(hpl) from Bonanza to Pinterest?
  </p>
  <p class="white-text">
    Just log in with Pinterest!
  </p>
  <form action="/authenticate_user" method="POST">
    <input class="input-submit" type="submit" />
  </form>
  <p class="white-sub-text">
    Example:
    <a
      style="color:white"
      href="https://www.bonanza.com/hand_picked_lists/163479"
      >https://www.bonanza.com/hand_picked_lists/163479</a
    >
  </p>
</div>

{% endblock content %}
