{% extends "base.html" %}

{% block content %}

<div class='main-image'>
    <p class='main-text'>Login Please</p></br>
    <img class = 'gif' src='{{ success_gif }}'></img>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
    
    <form method='POST' action='/login'>
        <div class='field'>
            <div class='control'>
                <input class='input is-large' type='username' name='username' placeholder='Username' autofocus=''>
            </div>
        </div>
        <div class='field'>
            <div class='control'>
                <input class='input is-large' type='password' name='password' placeholder='Password' autofocus=''>
            </div>
        </div>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox">
                Remember me
            </label>
        </div>
        <input type="submit" name="btn" value="Save">
        <input type="submit" name="btn" value="Cancel">
        <!--
        <button class="button is-block is-info is-large">Login</button>
        <button class="button is-block is-info is-large">Sign Up</button>
        -->
    </form>

    

</div>



{% endblock content %}