{% extends "base.html" %}

{% block content %}

<div class='main-image'>
    <p class='main-text'>Time to Sign</p></br>
    <img class = 'gif' src='{{ success_gif }}'></img>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
        </div>
    {% endif %}
    {% endwith %}
    
    <form method='POST' action='/signup'>
        <div class='field'>
            <div class='control'>
                <input class='input is-large' type='username' name='username' placeholder='Username' autofocus=''>
            </div>
        </div>
        <div class='field'>
            <div class='control'>
                <input class='input is-large' type='password' name='password' placeholder='Password' autofocus=''>
            </div>
        </div>
        <button class="button is-block is-info is-large">Sign Up</button>
    </form>

    

</div>

{% endblock content %}